extends layout

block content
 

    h1.display-3 GEEK BLOG
        br
        h5
            i Lo mejor en el mundo de la tecnología
    .carousel.slide(data-ride="carousel" id="myCarousel")
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides
      .carousel-inner
        .item.active
          img(src='https://thumbs.dreamstime.com/b/laptop-smartphone-note-book-table-work-desk-57586785.jpg', alt='', width="1250px", height="250px")
        .item
          img(src='https://st.depositphotos.com/1001069/4316/i/950/depositphotos_43167989-stock-photo-coffee-cup-laptop-and-notepad.jpg', alt='', width="1250px", height="250px")
        .item
          img(src='https://thumbs.dreamstime.com/b/pen-postit-note-laptop-cup-coffee-10888025.jpg', alt='', width="1250px", height="250px")
      // Controls
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
        span.sr-only Next



    div(style="background-color:#D6D6D6")
        each article, i in articles
            br
            div.container(style="background-color:#ffffff; margin-left: 2em; margin-right: 2em;width:95%;")
                a(href="/articles/"+article._id)
                    h2 #{article.title}
                table
                  tr
                    td
                      p.
                        #{article.body.slice(0, 350)+"...."}
                                             
                    //- td
                    //-     img(src= "https://easysmartech.com/wp-content/uploads/2018/07/Galacy-Watch-portada.jpg" height="100px" width="100px")
                p
                    a.btn.btn-primary(href="/articles/"+article._id, role='button') Ver más »
        br    
        