doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title GEEK BlOG 2.0
   
    //- link(rel='stylesheet', href='css/bootstrap.min.css')
    
    //- link(rel='stylesheet', href='css/jumbotron.css')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    nav.navbar.navbar-inverse.bg-dark
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/' style="color:#ffffff") GEEK BlOG 2.0
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Inicio
            
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a.btn.btn-primary(href='/articles/add' style="background-color=#555555") 
                  span.glyphicon.glyphicon-pencil(style="color:#ffffff")  Crear

            if user
              li 
                a(href='/users/logout')
                  span.glyphicon.glyphicon-log-out  Salir
            else
              li
                a(href='/users/register') Registrar
              li
                a(href='/users/login') Iniciar Sesion
    main.container
      
      
      
        != messages('message', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}
        block content
    br
    br
    br
    br
    br
    br
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  footer.page-footer.mdb-color.lighten-3.pt-4
        nav.navbar.fixed-bottom.navbar-expand-sm.navbar-dark(style="background-color:#999999;")   
          div.collapse.navbar-collapse(id="navbarCollapse" ).
            Devsu © 2018 Copyright &nbsp; &nbsp; - &nbsp; &nbsp; Desarrollado por Johnny y Paul

      

